@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
ol,
li {
   list-style: none;
}

body {
   background: #1e2538;
}

::-webkit-scrollbar {
   width: 6px;
}
::-webkit-scrollbar-track {
   background: transparent;
}
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.swiper {
   padding-bottom: 20px !important;
}

.arrowUP {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: #100f14;
   border-radius: 6px;
   padding: 10px;
   z-index: 100;
}

// .meTruncate {
//   text-overflow: ellipsis;
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 2 !important;
//   -webkit-box-orient: vertical;
// }
